.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.thead-custom {
  background-color: #36363e; /* Цвет фона заголовка */
  color: #f5f5f5; /* Цвет текста заголовка */
}

.btn-status {
  min-width: 120px; /* Устанавливаем минимальную ширину для кнопок */
  text-align: center; /* Центрируем текст внутри кнопки */
}